
.idea/misc.xml
.idea/modules.xml
.idea/tamtaam.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sqldialects.xml
.idea/dictionaries/Rémi.xml
.idea/encodings.xml
.idea/php.xml
Android/Tamtam/.idea/caches/build_file_checksums.ser
Android/Tamtam/.idea/misc.xml
Android/Tamtam/.idea/caches/build_file_checksums.ser
Android/Tamtam/.idea/misc.xml
Android/Tamtam/.idea/misc.xml
